################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedLegConstruction/FileContentIndex/85b15af9-16b2-4c12-8e5a-5cc0c760b4ed.vsidx
